@model IEnumerable<UserLive.Models.UserViewModel>



@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_pwd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user_age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.addID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImagePathUvm)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}